
/* ------- Categories -----  */
.categories-slider .single {
    position: relative;
    border: 1px solid transparent;
    overflow: hidden;
    transition: all 300ms ease-in;
}
.categories-slider .single img{
    transition: all 300ms ease-in;
}
.categories-slider .single:hover img{
    scale: 1.2;
}
.categories-slider .single p{
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    color: white;
    background: var(--color-main);
    padding: 0.5rem 0rem;
    transition: all 300ms ease-in;
    text-transform: capitalize;
}
.categories-slider .single:hover p{
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    color: white;
    background: #e1131a79;
    padding: 0.5rem 0rem;
}
